<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Intro_in_programming_Y_Daniel_Liang/chapter_06_User_define_methods/chapter_06_User_define_methods/Challange_6_3_2_Methodcallinexpression.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="chapter_06_User_define_methods.Challange_6_3_2_Methodcallinexpression"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Intro_in_programming_Y_Daniel_Liang"/>
</launchConfiguration>
