<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Intro_in_programming_Y_Daniel_Liang/chapter_21_Stacks_Queues/assignment_2/Lavruk_21_02.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="assignment_2.Lavruk_21_02"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="march_20_01.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Intro_in_programming_Y_Daniel_Liang"/>
</launchConfiguration>
