<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Intro_in_programming_Y_Daniel_Liang/chapter_14-15_Java_FX_and_event_driving_programs/fx_and_event_driving_prog/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fx_and_event_driving_prog.Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Intro_in_programming_Y_Daniel_Liang"/>
</launchConfiguration>
